*{
    font-family: sans-serif;
}
.fire{
    .box{
       
        .box3{
            margin-top: -55px;
            margin-left: 90px;
        }
        .box2{
            margin-top: 30px;
            margin-left: 70px;
        }
        .box4{
            text-decoration: none;
            margin-left: 600px;
            font-size: 22px;
            gap: 10px;
            word-spacing: 40px;
            margin-top: -20px;
            a{
                text-decoration: none;   
            }
           
            
            
        }
        .box5{
            margin-left: 1050px;
            margin-top: -30px;
            width: 160px;
            height: 60px;
            top: 71px;
            left: 1634px;
            gap: 0px;
            border-radius: 80px 0px 0px 0px;
            opacity: 0px;
            border: 1px solid white;
            button{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0.02em;
                text-align: left;
                border: 1px solid white;
                
                
            }
            
            button{
                border-radius: 50px
            }
        }
        .box6{
            margin-left: 1160px;
            margin-top: -60px;
            color: white;
            button{
                border-radius: 50px;
                background: orange;
                color: white;
                font-family: Poppins;
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0.02em;
                text-align: left;
                border: 1px solid white;

            }
        }
        
        
    }
    .box7{
        font-weight: 700;
        font-size: 48px;
        margin-top: 200px;
        margin-left: 80px;
    }
    .yozuv{
        font-family: Nunito Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: left;
        color: #464646;
        margin-left: 80px;
        margin-top: 20px;
        
    }
    .rasm{
        
        margin-left: 700px;
        font-size: 20px;   
           
        img{
            width: 650px;
            height: 650px;
            margin-top: -360px;
            margin-left: -100px;
        } 
    }
    .join{
        width: 220px;
        height: 100px;
        margin-left: 70px;
        margin-top: -220px; 

        button{
            background: #F48C06;
            color: white;
            border-radius: 150px;
            width: 200px;
            height: 60px;
            font-size: 30px;
            border: 1px solid white; 
                      

        }    

    }
    .rasm2{
        width: 80px;
        height: 80px;
        top: 659px;
        left: 400px;
        gap: 0px;
        opacity: 0px;
        margin-left: 240px; 
        margin-top: -150px;       
    }
    .pyozuv >p{
        width: 232px;
        height: 36px;
        top: 681px;
        left: 512px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        margin-left: 400px; 
        margin-top: -20px;       
                
    }
    .world{
        margin-top: 400px;
        text-align: center;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        line-height: 44.8px;
        letter-spacing: 0.02em;
        text-align: left;
        h3{
            text-align: center;
        }
    }
    .rasm3{
        font-size: 20px;
        
            
        img{
        width: 1000px;
        height: 70px;
        text-align: center; 
        margin-left: 100px; 
        }
    }
    .qism2{
        .fbox{
            margin-top: 200px;
            text-align: center;
            font-family: Poppins;
            margin-left: 400px;
            text-align: left;
            span{
                font-family: Poppins;
                font-size: 36px;
                font-weight: 700;
                line-height: 64.8px;
                text-align: left;
                text-align: center;
            }        
        }
        .one{
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 400;
            line-height: 43.2px;
            text-align: center;            
           
            
        }
        .qator1{
            width: 400px;
            height: 430px;
            top: 1855px;
            left: 225px;
            gap: 0px;
            border-radius: 20px 20px 20px 20px;
            opacity: 0px;
            border: 1px solid;    
            margin-top: 200px;  
            img{
               margin-left: 100px;
               margin-top: -100px;
                
            }   
            h3{
                text-align: center;
                font-family: Poppins;
                font-size: 30px;
                font-weight: 500;
                line-height: 45px;
                text-align: center;
                margin-top: 40px;
                
            }
            p{
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                text-align: center;
                
            }        
        }
        .qator2{
            width: 400px;
            height: 430px;
            top: 1855px;
            left: 225px;
            gap: 0px;
            border-radius: 20px 20px 20px 20px;
            opacity: 0px;
            border: 1px solid;  
            margin-left: 410px;   
            margin-top: -435px; 
            img{
                margin-left: 100px;
                margin-top: -100px;
                 
             }     
             h3{
                text-align: center;
                font-family: Poppins;
                font-size: 30px;
                font-weight: 500;
                line-height: 45px;
                text-align: center;
                margin-top: 40px;
                
            }
            p{
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                text-align: center;
                
            }               
        }
        .qator3{
            width: 400px;
            height: 430px;
            top: 1855px;
            left: 225px;
            gap: 0px;
            border-radius: 20px 20px 20px 20px;
            opacity: 0px;
            border: 1px solid; 
            margin-left: 820px; 
            margin-top: -430px; 
            img{
                margin-left: 100px;
                margin-top: -100px;
                 
            }
            h3{
                text-align: center;
                font-family: Poppins;
                font-size: 30px;
                font-weight: 500;
                line-height: 45px;
                text-align: center;
                margin-top: 70px;
                
            }
            p{
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                text-align: center;
                
            }   
                      
        }
    }
    .qism3{
        margin-top: 190px;
        width: 1000px;
        height: 708px;
        top: 2443px;
        left: 310px;
        gap: 0px;
        opacity: 0px;
        // border: 1px solid;
        margin-left: 120px;        
        .span2{
            
            font-size: 44px;
            font-weight: 600;
            line-height: 79.2px;
            text-align: center;
            margin-top: 100px;
            text-align: center;
            // margin-left: 200px;
            
        }
        p{
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            

        }
        .ustoz{
            img{
                width: 400px;
                height: 350px;
                top: 2751px;
                left: 310px;
                gap: 0px;
                border-radius: 20px 0px 0px 0px;
                border: 1px 0px 0px 0px;
                opacity: 0px;
                margin-top: 46px;
                
            }
        }
        .oquvchi{
            margin-left: 600px;
            margin-top: -774px;
            img{
                display: flex;
                width: 400px;
                height: 350px;
                top: 2751px;
                left: 310px;
                gap: 0px;
                border-radius: 20px 0px 0px 0px;
                border: 1px 0px 0px 0px;
                opacity: 0px;
                margin-left: 00px;
                margin-top: 420px;
            }
        }
            
    }
    .qism4{
        margin-top: 100px;
        .span4{
            font-family: Poppins;
            font-size: 36px;
            font-weight: 500;
            line-height: 57.6px;
            text-align: left;
            margin-left: 100px;
            margin-top: 100px;
            
        }
        p{
            font-family: Poppins;
            font-size: 24px;
            font-weight: 400;
            line-height: 43.2px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px;
            
        }
        .book{
            margin-top: -60px;
            img{
                width: 475px;
                height: 341.08px;
                top: 3331px;
                left: 1008px;
                gap: 0px;
                border-radius: 20px 0px 0px 0px;
                opacity: 0px;
                margin-left: 690px;
                margin-top: -360px;
                
            }
        }
        
       
    }
    .j-div{
        margin-top: 300px;
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 64.8px;
        text-align: center;


    
    }
    .j-yoz{
        font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    margin-left: 80px;
    text-align: center;

    }
    
    .j-rasm{
        margin-left: 100px;
        img{
            width: 500px;
            height: 400px;
           
        }
        
    }
    .o-div{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    margin-left: 600px;
    margin-top: -400px;

    }
    .o-icon {
        margin-left: 750px;
        margin-top: 100px;
    }
    .jim{
        margin-left: 800px;
        margin-top: -152px;
    }
    .her{
    font-size: 40px;
    font-weight: 600;
    margin-top: 350px;
    margin-left: 100px;
    
    }
    .her-yoz{
    font-size: 22px;
    font-weight: 400;
    margin-left: 100px;
    
    }
    .her-rasm{
    margin-left: 500px;
     width: 637.2px;
    height: 611px;
    margin-top: -500px;
    
    }
    .qism7{
        margin-top: 300px;
        img{
            width: 617px;
            height: 651.49px;
            top: 5792px;
            left: 192px;
            gap: 0px;
            opacity: 0px;
            margin-top: -10px;
            
        }
        .span100{
            margin-left: 300px;
            margin-left: 700px;  
            margin-top: -500px; 
            span{
                font-family: Poppins;
                font-size: 40px;
                font-weight: 600;
                line-height: 64px;
                text-align: left;
                            
            }
        }
        .harf{
            p{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 400;
                line-height: 39.6px;
                letter-spacing: 0.02em;
                text-align: left;
                margin-left: 700px;                
            }
        }
    }
    .div{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 64px;
        text-align: left;
        margin-top: 400px;
        margin-left: 100px;
        
    }
    
    .coco-cola {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px;
        margin-left: 100px;
    
    }
    
    .coco-rasm {
        width: 408.32px;
        height: 400px;
        margin-left: 550px;
        margin-top: -350px;
        img{
            width: 608.32px;
            height: 500px;
            margin-left: 80px;
        }
    }
    
    .fanta {
        margin-top: 200px;
        width: 755.24px;
        height: 499px;
    }
    
    .sprit{
    font-size: 40px;
    font-weight: 600;
    margin-left: 900px;
    margin-top: -400px;
    }
    .spake{
    font-size: 22px;
    font-weight: 400;
    }
    
        
    .box5 button,
    .box6 button,
    .join button{
        transition: background-color 0.3s ease, color 0.3s ease; // Effektni yumshatish
    }

    .box5 button:hover {
        background-color: #f39c12; 
        color: #fff; 
    }

    .box6 button:hover {
        background-color: #1b07f9; 
        color: #fff; 
    }
    .join button:hover {
        background-color: #bd0725; 
        color: #fff; 
    }
    .div3{
        .lite{
            margin-top: 450px;
            margin-left: 100px;
        }
        .lite2 {
            margin-left: 370px;
            margin-top: -130px;
        
        
        }
        .fire999{
            margin-left: 180px;
            margin-top: 80px;
        }

            
        .fire100 {
            margin-left: 380px;
            margin-top: -110px;
                
        }
        .fire20{
            font-family: Nunito Sans;
            font-size: 36px;
            font-weight: 700;
            line-height: 57.6px;
            text-align: left;
            margin-left: 700px;
            margin-top: -400px;            
        }
        .fire30{
            margin-left: 700px;
            font-family: Nunito Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 43.2px;
            text-align: left;
            
        }
        .div4{
            width: 280px;
            height: 80px;
            top: 7973px;
            left: 820px;
            gap: 0px;
            border-radius: 100px;
            margin-left: 100px;
            opacity: 0px;
            margin-left: 200px;
            
    
            button{
                border-radius: 100px;
                width: 204px;
                height: 43px;
                top: 7992px;
                left: 858px;
                gap: 0px;
                opacity: 0px;
                margin-top: 300px;
                text-align: center;
                border: 1px  solid #F48C06;
                font-family: Nunito Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 43.2px;
                letter-spacing: 0.02em;
                margin-top: 60px;
                margin-left: 500px;
                color:  #F48C06;
                &:hover{
                    cursor: pointer;
                    color: rgb(17, 0, 255);
                    border: 1px  solid rgb(17, 0, 255);
    
                }
            }
    
        }
            
    }
    .test2{
        margin-top: 300px;
        .they{
            font-family: Nunito Sans;
            font-size: 60px;
            font-weight: 700;
            line-height: 81.84px;
            text-align: left;
            color: #2F327D;
            margin-left: 100px;
            &:hover{
                cursor: pointer;
                color: orange;
                transition: transform 0.3s ease;
            }
            
        }
        .more{
            font-family: Poppins;
            font-size: 26px;
            font-weight: 400;
            line-height: 41.6px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px;
            margin-top: -20px;            
        }
        .more2{
            font-family: Poppins;
            font-size: 26px;
            font-weight: 400;
            line-height: 41.6px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px;
            margin-top: -20px;            
        }
        .more3{
            font-family: Poppins;
            font-size: 26px;
            font-weight: 400;
            line-height: 41.6px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px;
            margin-top: 20px;            
        }
        .div6{
            width: 280px;
            height: 80px;
            top: 7973px;
            left: 820px;
            gap: 0px;
            border-radius: 100px;
            margin-left: 100px;
            opacity: 0px;
            margin-left: 200px;
            
    
            button{
                border-radius: 100px;
                width: 204px;
                height: 43px;
                top: 7992px;
                left: 858px;
                gap: 0px;
                opacity: 0px;
                margin-top: 300px;
                text-align: center;
                border: 1px  solid #F48C06;
                font-family: Nunito Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 43.2px;
                letter-spacing: 0.02em;
                margin-top: 60px;
                margin-left: -105px;
                color:  #F48C06;
                &:hover{
                    cursor: pointer;
                    color: rgb(17, 0, 255);
                    border: 1px  solid rgb(17, 0, 255);
    
                }
            }
    
        }
        .div7{
            width: 560px;
            height: 500px;
            top: 8842px;
            left: 970px;
            gap: 0px;
            opacity: 0px;
            margin-left: 650px;
            margin-top: -540px; 
            img{
                width: 560px;
                height: 650px;
            } 
            .div8{
                width: 680px;
                height: 329px;
                top: 9334px;
                left: 1039px;
                gap: 0px;
               
                
                margin-left: -100px;
                margin-top: -320px; 
                background: #fff; 
                background: #FFFFFF;
                
                .much{
                    font-family: Nunito Sans;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 39.6px;
                    letter-spacing: 0.02em;
                    margin-left: 110px;
                    margin-top: 50px;
                    color: white;
                   

                } 
                .glor{
                    font-family: Nunito Sans;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 43.2px;
                    text-align: left;
                    margin-top: 70px;
                    margin-left: 110px;
                    color: orange;
                    

                }            
            }          
        }
    }
    .last{
        margin-top: 300px;
        .orta{
            font-family: Nunito Sans;
            font-size: 36px;
            font-weight: 700;
            line-height: 64.8px;
            text-align: center;
            color: #2F327D;
            
        }
        .orta2{
            font-family: Nunito Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 43.2px;
            text-align: center;
            margin-top: -30px;            
        }
        img{
            width: 480px;
            height: 340px;
            top: 10041px;
            left: 200px;
            gap: 0px;
            border-radius: 20px 0px 0px 0px;
            opacity: 0px;
            margin-left: 100px;
            
        }
        .button4{
            width: 130px;
            height: 40px;
            top: 10421px;
            left: 200px;
            gap: 0px;
            border-radius: 50px ;
            opacity: 0px;
          
                
            button{
                background-color: orange;
                width: 130px;
                height: 40px;
                border-radius: 50px ;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.02em;
                text-align: center;
                margin-left: 100px;
                margin-top: 30px;
                &:hover{
                    cursor: pointer;
                    background-color: #1b07f9;
                    color: red; 
                }
                
            }       
        }
        .add{
            font-family: Poppins;
            font-size: 26px;
            font-weight: 500;
            line-height: 46.8px;
            text-align: left;
            margin-left: 100px;
            margin-top: 50px;
            
            h3{
                margin-left: 100px;
                font-family: Poppins;
                font-size: 26px;
                font-weight: 500;
                line-height: 46.8px;
                text-align: left;
                margin-left: 100px;
                margin-top: 20px;
                margin-top: 20px;
                margin-top: 20px;
            }
            
        }
        .add2{
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px; 
            margin-top: -10px;           
        }
        .add3{
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 100px;            
        }
        .yarim1{
            
            margin-top: -486px;
            img{
                width: 220px;
                height: 200px;
                margin-left: 600px;
                margin-top: -470px;
            }
            .techno{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 500;
                line-height: 39.6px;
                text-align: left;
                margin-left: 850px;
                margin-top: -230px;
                
                
                h3{
                    margin-left: 850px;
                    margin-top: -200px;
                }
            }
            .techno2{
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.02em;
                text-align: left;
                
                p{
                    margin-left: 850px;
                    margin-top: -30px;
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    
                }
            }
           
            
        }
        .yarim2{
            
            margin-top: 240px;
            img{
                width: 220px;
                height: 200px;
                margin-left: 600px;
                margin-top: -470px;
            }
            .techno{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 500;
                line-height: 39.6px;
                text-align: left;
                margin-left: 850px;
                margin-top: -230px;
                
                
                h3{
                    margin-left: 850px;
                    margin-top: -200px;
                }
            }
            .techno2{
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.02em;
                text-align: left;
                
                p{
                    margin-left: 850px;
                    margin-top: -30px;
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    
                }
            }
           
            
        }
        .yarim3{
            
            margin-top: 240px;
            img{
                width: 220px;
                height: 200px;
                margin-left: 600px;
                margin-top: -470px;
            }
            .techno{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 500;
                line-height: 39.6px;
                text-align: left;
                margin-left: 850px;
                margin-top: -230px;
                
                
                h3{
                    margin-left: 850px;
                    margin-top: -200px;
                }
            }
            .techno2{
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.02em;
                text-align: left;
                
                p{
                    margin-left: 850px;
                    margin-top: -30px;
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    
                }
            }
           
            
        }
    
            
       
        
    
    }
          
            .lite img,
            .lite2 img,
            .free1 img,
            .free2 img,
            .free3 img,
            .ustoz img,
            .oquvchi img,
            .coco-rasm img,
            .book img,
            .j-rasm img,
            .o-icon img,
            .her-rasm img,
            .rasm3 img ,
            .fanta img,
            .fire999 img,
            .fire100 img,
            .div7 img,
            .yarim1 img,
            .yarim2 img,
            .yarim3 img,
            .group img,
            .qism7 img {
                transition: transform 0.3s ease; /* Effektni yumshatish */
            }
            
            .lite img:hover,
            .lite2 img:hover,
            .yarim1 img:hover,
            .yarim2 img:hover,
            .yarim3 img:hover,
            .free1 img:hover,
            .group img:hover,
            .fire999 img:hover,
            .fire100 img:hover,
            .div7 img:hover,
            .free2 img:hover,
            .free3 img:hover,
            .ustoz img:hover,
            .oquvchi img:hover,
            .coco-rasm img:hover,
            .fanta img:hover,
            .book img:hover,
            .j-rasm img:hover,
            .o-icon img:hover,
            .her-rasm img:hover,
            .rasm3 img:hover ,
            .qism7 img:hover {
                transform: scale(1.05); /* Hover holatidagi kattalashtirish */
            }
            
    .div2{
        width: 280px;
        height: 80px;
        top: 7973px;
        left: 820px;
        gap: 0px;
        border-radius: 100px;
        
        opacity: 0px;
        margin-left: 200px;
        text-align: center;
        

        button{
            border-radius: 100px;
            width: 204px;
            height: 43px;
            top: 7992px;
            left: 858px;
            gap: 0px;
            opacity: 0px;
            margin-top: 300px;
            text-align: center;
            border: 1px  solid #F48C06;
            font-family: Nunito Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 43.2px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-left: 330px;
            color:  #F48C06;
            &:hover{
                cursor: pointer;
                color: rgb(17, 0, 255);
                border: 1px  solid rgb(17, 0, 255);

            }

        }
        
    }
  
   
    
}
  
